<html>
  <head>
    <title>Simple page</title>
  </head>
  <body>
    <div id='main'>
      <h2> Welcom to my page </h2>
      <h3> Register </h3>
      <form method='post' action='register'>
        <label> username </label>
        <input type='text' name='username'/> <br/>
        <label> password </label>
        <!-- <input type='text' name='password'/> <br/> -->
        <input type='password' name='password'/> <br/>
        <input type='submit' value='register' />
      </form>

      <h3> Log-in </h3>
      <form method='post' action='login'>
        <label> username </label>
        <input type='text' name='username_login'/> <br/>
        <label> password </label>
        <!-- <input type='text' name='password'/> <br/> -->
        <input type='password' name='password_login'/> <br/>
        <input type='submit' value='login' />
      </form>
    </div>
  </body>
</html>
